.videoPlayer_player {
	position: relative;
	min-width: 400px;
	width: 600px;
	overflow: hidden;
}

.videoPlayer_player_content {
	color: white;
	width: 100%;
	z-index: 2;
	cursor: pointer;
	box-sizing: border-box;
	padding: 4px 0;
}
.videoPlayer_time_display {
	position: absolute;
	top: 45%;
	display: inline-block;
	box-sizing: border-box;
	margin-bottom: 6px;
	padding: 0 10px;
	color: white;
}
.videoPlayer_common_video {
	position: relative;
	width: 100%;
	cursor: pointer;
	min-width: 100px;
	overflow: hidden;
}
@supports (-ms-ime-align: auto) {
	.videoPlayer_common_video {
		min-height: 10px;
	}
}
.videoPlayer_custom_controls {
	background: black;
	width: 100%;
	z-index: 2;
	cursor: pointer;
}
video::-webkit-media-controls {
	display: none;
}
.videoPlayer_buffered {
	height: 5px;
	position: relative;
	top: 5px;
	background: #555;
	width: 100%;
}

.videoPlayer_buffered_amount {
	display: block;
	height: 100%;
	background-color: #777;
	width: 0;
}

.videoPlayer_progress {
	margin-top: -6px;
	height: 6px;
	position: relative;
	top: 5px;
	width: 100%;
}

.videoPlayer_progress_amount {
	display: block;
	background-color: rgb(230, 33, 23);
	width: 0;
	height: 100%;
}
.videoPlayer_animate {
	transition: opacity 0.5s ease-in-out;
	position: absolute;
	bottom: 0;
	opacity: 1;
	width: 100%;
	z-index: 2;
	cursor: pointer;
}

.visible {
	opacity: 1;
}

.hidden {
	transition: opacity 1.5s ease-in-out;
	opacity: 0;
}
.videoPlayer_inc_dec {
	display: none;
	pointer-events: none;
}
#videoPlayer-on-screen-inc-dec {
	position: absolute;
	z-index: 2;
	display: flex;
	width: 100%;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -40%);
	text-align: center;
	height: 10px;
	outline: none;
	cursor: pointer;
}
.videoPlayer_child_inc_dec {
	width: 50%;
	height: 10px;
	text-align: center;
	border: none;
	outline: none;
}
.videoPlayer_progress_amount_indicator {
	position: absolute;
	width: 4px;
	height: 3px;
	border: 2px solid white;
	border-radius: 90%;
	background-color: white;
}

.videoPlayer_right_controls {
	position: absolute;
	right: 5px;
}
.videoPlayer_skip {
	position: absolute;
	bottom: 20%;
	right: 0;
	background-color: black;
	opacity: 0.7;
	color: white;
	box-sizing: border-box;
	text-align: center;
	padding: 15px;
	cursor: pointer;
}

.videoPlayer_skip_forward {
	display: inline-block;
	position: relative;
	top: 5px;
}
